$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;
$break-xs: 480px;

$teal: #2fbfbf;
$navy: #182045;
$l-blue: #3078c0;
$m-blue: #203880;
$red: #b31b28;
$white: #fff;
$orange: #e74c2e;
$yellow: #f2c230;
$brown: #8b3623;
$green: #256f6e;
$purple: #131426;
$grey: #95a5a6;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-weight: 100;
  margin: 0;
  background-color: $purple;
}

.svg-icon {
  position: relative;
  top: 50%;
  left: 50%;
  svg {
    height: 100%;
    width: 100%;
  }
}

// .icon-text {
//   text-align: center;
//   position: relative;
//   right: 100%;
//   text-transform: uppercase;
//   color: transparent;
// }

.top-text {
  text-align: center;
  position: relative;
  right: 100%;
  text-transform: uppercase;
  color: transparent;
  top: 25%;
  width: 200%;
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    font-size: 80%
  }
  @media screen and (max-width: $break-xs) {
    font-size: 50%;
  }
}

.bottom-text {
  @extend .top-text;
  top: 60%;
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    font-size: 80%
  }
  @media screen and (max-width: $break-xs) {
    font-size: 50%;
  }
}

.projects {
  font-size: xx-large;
  font-weight: 100;
  color: $m-blue;
  padding-bottom: 30px;
}

.hf {
  background-image: url(../img/homefield-ss.png);
  background-size: cover;
}

.bbl {
  background-image: url(../img/bbble-mock.png);
  background-size: cover;
}

.csd {
  background-image: url(../img/carmen-san-diego.png);
  background-size: cover;
}

// .intro-picture {
//   height: 250px;
//   width: 250px;
//   border-radius: 50%;
//   background-color: $m-blue;
//   margin-left: auto;
//   margin-right: auto;
// }


.bsq {
  position: relative;
  h2 {
    font-size: 30px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    padding-top: 5%;
  }
  h5 {
    font-weight: 100;
    color: #fff;
    text-align: center;
    font-style: italic;
    padding-top: 10%;
  }
  .project-icons {
    text-align: center;
    font-size: 48px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -51px;
    color: $white;
  }
}

.intro-div {
  padding-top: 5%;
}

.name-text {
  text-align: center;
  font-weight: 300;
  font-family: Helvetica;
  color: $white;
  text-transform: uppercase;
  text-shadow: 1px 1px $purple;
  font-size: 48px;
}

.title-text {
  @extend .name-text;
  font-size: 27;
}


.down-arrow {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.down-arrow-icon {
  color: $grey;

  a {
    color: $white;
    text-shadow: 1px 1px $purple;
  }
}

.splash {
  @media screen and (min-width: $break-lg) {
    height: 1124px;
  }
  @media screen and (min-width: $break-md) and (max-width: $break-lg) {
    height: 949px;
  }
  @media screen and (min-width: $break-sm) and (max-width: $break-md) {
    height: 756px;
  }
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    height: 603px;
  }
  @media screen and (max-width: $break-xs) {
    height: 433px;
  }
}

.intro {
  position: relative;
  height: 100%;
  background-image: url(../img/space.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: $break-sm) and (max-width: $break-md) {
    background-position-x: 40%;
  }
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    background-position-x: 40%;
  }
}

.work {
  background-color: $white;
}

.header {
  display: table;
}

.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: $white;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  border-bottom: 5px solid $grey;
  padding-top: 14px;
}

.nav-brand {
  float: right;
  .name {
    color: $grey;
    font-family: Helvetica;
    font-weight: 100;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1em;
    // position: relative;
    // bottom: 10px;
  }
}

.nav-list {
  padding-left: 0;
}

.nav-link {
  float: left;
  display: inline;
  width: 40px;
  a {
    color: $grey;
    &:hover {
      color: $l-blue;
    }
  }
}

.wrapper {
  padding-top: 100px;
}

.work {
  padding-top: 20%;
}

.container {
  @media screen and (min-width: $break-lg) {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $break-md) and (max-width: $break-lg) {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $break-sm) and (max-width: $break-md) {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

.box {
  @media screen and (min-width: $break-lg) {
    width: 1170px;
    height: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $break-md) and (max-width: $break-lg) {
    width: 970px;
    height: 970px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $break-sm) and (max-width: $break-md) {
    width: 750px;
    height: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    width: 575px;
    height: 575px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (max-width: $break-xs) {
    width: 380px;
    height: 380px;
    margin-right: auto;
    margin-left: auto;
  }
}

.sq {
  height: 12.5%;
}

.bsq {
  height: 25%;
}

.hsq {
  height: 50%;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  position: absolute;
  &.right {
    left: 293px;
    bottom: 190px;
    border-width: 29px 0 29px 29px;
    &.orange-triangle {
      border-color: transparent transparent transparent $orange;
    }
    @media screen and (min-width: $break-md) and (max-width: $break-lg) {
      left: 243px;
      bottom: 158px;
      border-width: 24px 0 24px 24px;
    }
    @media screen and (min-width: $break-sm) and (max-width: $break-md) {
      left: 188px;
      bottom: 122px;
      border-width: 18px 0 18px 18px;
    }
    @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
      left: 144px;
      bottom: 94px;
      border-width: 14px 0 14px 14px;
    }
    @media screen and (max-width: $break-xs) {
      border-width: 10px 0 10px 10px;
      left: 95px;
      bottom: 62px;
    }
  }

  &.left {
    left: -29px;
    bottom: 190px;
    border-width: 29px 29px 29px 0;
    &.lb-triangle {
      border-color: transparent $l-blue transparent transparent;
    }
    &.yellow-triangle {
      border-color: transparent $yellow transparent transparent;
    }
    @media screen and (min-width: $break-md) and (max-width: $break-lg) {
      left: -24px;
      bottom: 158px;
      border-width: 24px 24px 24px 0;
    }
    @media screen and (min-width: $break-sm) and (max-width: $break-md) {
      left: -18px;
      bottom: 122px;
      border-width: 18px 18px 18px 0;
    }
    @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
      left: -14px;
      bottom: 94px;
      border-width: 14px 14px 14px 0;
    }
    @media screen and (max-width: $break-xs) {
      border-width: 10px 10px 10px 0;
      left: -10px;
      bottom: 62px;
    }
  }
}



@mixin background-color-transition($background-color, $transform) {
  -webkit-transition: background-color $background-color, -webkit-transform $transform;
  transition: background-color $background-color, transform $transform;
}

@-webkit-keyframes redPulse {
  0% {background-color: $red;}
  20% {background-color: $orange}
  40% {background-color: $yellow}
  60% {background-color: $green}
  80% {background-color: $m-blue}
  100% {background-color: $navy}
}

@-webkit-keyframes greenPulse {
  0% {background-color: $green;}
  20% {background-color: $m-blue}
  40% {background-color: $navy}
  60% {background-color: $red}
  80% {background-color: $orange}
  100% {background-color: $yellow}
}

@-webkit-keyframes navyPulse {
  0% {background-color: $navy;}
  20% {background-color: $red}
  40% {background-color: $orange}
  60% {background-color: $yellow}
  80% {background-color: $green}
  100% {background-color: $m-blue}
}

.lb {
  background-color: $l-blue;
  @include background-color-transition(1s, 1s);
  .icon > path {
    fill: $l-blue;
  }
}

.mb {
  background-color: $m-blue;
  @include background-color-transition(1s, 1s);
  .icon > path {
    fill: $m-blue;
  }
  #filled-coffee {
    .top {
      fill: $m-blue;
    }
  }
}

.teal {
  background-color: $teal;
  @include background-color-transition(1s, 1s);
  .icon > path {
    fill: $teal;
  }
}

.navy {
  background-color: $navy;
  @include background-color-transition(1s, 1s);
  -webkit-animation: navyPulse 4s infinite alternate;
}

.red {
  background-color: $red;
  @include background-color-transition(1s, 1s);
  -webkit-animation: redPulse 4s infinite alternate;
}

.white {
  background-color: $white;
  @include background-color-transition(1s, 1s);
}

.orange {
  background-color: $orange;
  @include background-color-transition(1s, 1s);
  .icon > path {
    fill: $orange;
  }
}

.h-icon {
  color: $white;
  @media screen and (min-width: $break-lg) {
    font-size: 146px;
    text-align: center;
    position: relative;
    top: 62px;
    left: 50%;
  }
  @media screen and (min-width: $break-md) and (max-width: $break-lg) {
    font-size: 121px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 52px;
  }
  @media screen and (min-width: $break-sm) and (max-width: $break-md) {
    font-size: 94px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 40px;
  }
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    font-size: 72px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 31px;
  }
  @media screen and (max-width: $break-xs) {
    font-size: 48px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 21px;
  }
  // font-size: 80px;
  // position: relative;
  // left: 67%;
}

.e-icon {
  color: $m-blue;
  @media screen and (min-width: $break-lg) {
    font-size: 73px;
    text-align: center;
    position: relative;
    top: 31px;
  }
  @media screen and (min-width: $break-md) and (max-width: $break-lg) {
    font-size: 62px;
    text-align: center;
    position: relative;
    top: 25px;
  }
  @media screen and (min-width: $break-sm) and (max-width: $break-md) {
    font-size: 47px;
    text-align: center;
    position: relative;
    top: 20px;
  }
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 16px;
  }
  @media screen and (max-width: $break-xs) {
    position: relative;
    text-align: center;
    font-size: 24px;
    top: 10px;
  }

  // font-size: 60px;
  // position: relative;
  // top: -25px;
  // left: 25px;
}

.l-1-icon {
  @extend .e-icon;
  @media screen and (min-width: $break-lg) {
    font-size: 73px;
    text-align: center;
    position: relative;
    top: 31px;
  }
  @media screen and (min-width: $break-md) and (max-width: $break-lg) {
    font-size: 62px;
    text-align: center;
    position: relative;
    top: 25px;
  }
  @media screen and (min-width: $break-sm) and (max-width: $break-md) {
    font-size: 47px;
    text-align: center;
    position: relative;
    top: 20px;
  }
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 16px;
  }
  @media screen and (max-width: $break-xs) {
    position: relative;
    text-align: center;
    font-size: 24px;
    top: 10px;
  }

}

.l-2-icon {
  @extend .h-icon;
  color: $brown;
  @media screen and (min-width: $break-lg) {
    font-size: 146px;
    text-align: center;
    position: relative;
    top: 62px;
    left: 50%;
  }
  @media screen and (min-width: $break-md) and (max-width: $break-lg) {
    font-size: 121px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 52px;
  }
  @media screen and (min-width: $break-sm) and (max-width: $break-md) {
    font-size: 94px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 40px;
  }
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    font-size: 72px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 31px;
  }
  @media screen and (max-width: $break-xs) {
    font-size: 48px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 21px;
  }
}

.o-icon {
  @extend .e-icon;
  color: $l-blue;
  @media screen and (min-width: $break-lg) {
    font-size: 73px;
    text-align: center;
    position: relative;
    top: 31px;
  }
  @media screen and (min-width: $break-md) and (max-width: $break-lg) {
    font-size: 62px;
    text-align: center;
    position: relative;
    top: 25px;
  }
  @media screen and (min-width: $break-sm) and (max-width: $break-md) {
    font-size: 47px;
    text-align: center;
    position: relative;
    top: 20px;
  }
  @media screen and (min-width: $break-xs) and (max-width: $break-sm) {
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 16px;
  }
  @media screen and (max-width: $break-xs) {
    position: relative;
    text-align: center;
    font-size: 24px;
    top: 10px;
  }
}

.yellow {
  background-color: $yellow;
  @include background-color-transition(1s, 1s);
}



.brown {
  background-color: $brown;
}

.green {
  background-color: $green;
  -webkit-animation: greenPulse 4s infinite alternate;
}

.grey {
  background-color: $grey;
}

.purple {
  background-color: $purple;
}